@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  scroll-behavior: smooth;
  max-width: 100;
  background-color: rgb( 76, 175, 80);
}

a {
  position: relative; 
  color: black; 
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute; 
  left: 50%; 
  bottom: -10px; 
  transform: translateX(-50%); 
  width: 8px; 
  height: 8px; 
  border-radius: 50%; 
  background-color: black; 
  opacity: 0; 
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
}

a:hover::after {
  opacity: 1; 
  width: 9px;
  height: 7px;
}

img.logo {
  height:5%;
  width: 5%;
  margin-right:5%;
  margin-left: -10%;
}
.head {
  display: flex;
  background-color: rgb( 76, 175, 80);
  align-items: center;
  justify-content: center;
}

.option {
  list-style: none;
  display: flex;
  margin-top: 4%;
  
}
.option li {
  margin-right: 10%;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  margin-top: 0px;
}


.line-container {
  display: flex;
  align-items: center; 
  margin: 5px 0; 
  width: 100%;
}

.line-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  margin-right: 13px;
  margin-left: 30px; 
  white-space: nowrap; 
  z-index: 1; 
}

.animated-line {
  border: none;
  height: 5px; 
  background-color: black; 
  flex-grow: 1;
  transform: scaleX(0);
  transform-origin: left;
  animation: slide 5s ease-out forwards; 
}

@keyframes slide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


#carousel-container {
  display: flex;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  /* overflow: hidden; */
  padding-left: 10px;
}

.carousel-track {
  display: flex;
}

.carousel-card {
  min-width: 10%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  margin-right: 20px;
}

.carousel-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-info {
  margin-top: 10px;
}

.card-info h3 {
  margin: 10px 0;
}

.card-info p {
  margin: 5px 0;
}

/* .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-0%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
} */